## Exercise 1: Initialize dictionary with default values

In [1]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [2]:
d = {}
for i in employees:
    d[i] = defaults

In [3]:
d

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

## Exercise 2: Create a dictionary by extracting the keys from a given dictionary

In [4]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

In [5]:
result_dict = {}
for i in keys:
    x = sample_dict.get(i)
    result_dict[i] = x
print(result_dict)

{'name': 'Kelly', 'salary': 8000}

In [6]:
# Approach 2

result_dict = {k:sample_dict[k] for k in keys}
result_dict

{'name': 'Kelly', 'salary': 8000}

## Exercise 3: Delete a list of keys from a dictionary

In [7]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

In [8]:
# Approach 1 - Del keyword

for i in keys:
    del sample_dict[i]
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [9]:
# Approach 2 - pop item

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

for i in keys:
    sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

## Exercise 4: Check if a value exists in a dictionary

In [10]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
val_to_check = 200
l = [i for i in sample_dict.values()]
print(l)
if val_to_check in l:
        print(f"{val_to_check} present in dict")
else:
        print(f"{val_to_check} not present in dict")

[100, 200, 300]
200 present in dict

In [11]:
list(sample_dict.values())

[100, 200, 300]

In [12]:
# Approach 2 - Comprehension approach

val = list(sample_dict.values())
if val_to_check in val:
    print(f"{val_to_check} present in dict")
else:
    print(f"{val_to_check} not present in dict")

200 present in dict

In [13]:
# Approach 3 - No need to convert to list also

if 200 in sample_dict.values():
    print(f"{val_to_check} present in dict")
else:
    print(f"{val_to_check} not present in dict")

200 present in dict

## Exercise 5: Rename key of a dictionary

In [14]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

val = sample_dict['city']
val

'New york'

In [15]:
del sample_dict['city']
sample_dict['location'] = val
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [16]:
# Approach 2

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['location'] = sample_dict['city']
del sample_dict['city']

In [17]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [18]:
# Approach 3

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location'] = sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Exercise 6: Get the key of a minimum value from the following dictionary

In [19]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [20]:
# Approach 1
min(sample_dict, key=sample_dict.get)

'Math'

In [21]:
# Approach 2
x = list(sample_dict.items())
min(x)[0]

'Math'

In [22]:
# Approach 3 - Reverse keys and values
m = min(sample_dict.values())
d = dict((v,k) for k,v in sample_dict.items())
d[m]

'Math'

## Exercise 7: Change value of a key in a nested dictionary

In [23]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [24]:
# Approach 1

sample_dict['emp2']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8500},
 'emp3': {'name': 'Brad', 'salary': 500}}

## Exercise 8: Add a list of elements to a set

In [25]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(set(sample_list))
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [26]:
# Approach 2 - No need to change list to set also

sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

## Exercise 9: Return a new set of identical items from two sets

In [27]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

s = set1.intersection(set2)
s

{30, 40, 50}

## Exercise 10: Get Only unique items from two sets

In [28]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

s = set1.union(set2)
s

{10, 20, 30, 40, 50, 60, 70}