## Exercise 1: Update the first set with items that donâ€™t exist in the second set

In [1]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
set1

{10, 30}

## Exercise 2: Remove items from the set at once

In [2]:
set1 = {10, 20, 30, 40, 50}
elements_to_remove = [10,20,30]
for i in elements_to_remove:
    set1.discard(i)
set1

{40, 50}

In [3]:
# Approach 2 - Comprehension

set1 = {10, 20, 30, 40, 50}
set([set1.discard(i) for i in elements_to_remove])
set1

{40, 50}

In [4]:
# Approach 3 - Difference update

set1 = {10,20, 30,40,50}
set1.difference_update({10,20,30})
set1

{40, 50}

## Exercise 3: Return a set of elements present in Set A or B, but not both

In [5]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

s = set1.symmetric_difference(set2)
s

{10, 20, 60, 70}

## Exercise 4: Check if two sets have any elements in common. If yes, display the common elements

In [6]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

s = set1.intersection(set2)
s

{10}

In [7]:
# To check if the items are common in both set we can use disjoint() -> Return bool.

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90}
if set1.isdisjoint(set2): # Return False if common elements are there and True if vice-versa
    print("No common elements in both sets")
else:
    print("Common elements in both sets")

No common elements in both sets

In [8]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90,10}
if set1.isdisjoint(set2): # Return False if common elements are there and True if vice-versa
    print("No common elements in both sets")
else:
    print("Common elements in both sets")

Common elements in both sets

## Exercise 5: Update set1 by adding items from set2, except common items

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

## Exercise 6: Remove items from set1 that are not common to both set1 and set2

In [10]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
set1

{30, 40, 50}

## Exercise 7: Reverse the tuple

In [11]:
# Approach 1

tuple1 = (10, 20, 30, 40, 50)
t = tuple(reversed(tuple1))
t

(50, 40, 30, 20, 10)

In [12]:
# Approach 2 - without reversed function

t = tuple1[::-1]
t

(50, 40, 30, 20, 10)

## Exercise 8: Access value 20 from the tuple

In [13]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

## Exercise 9: Create a tuple with single item 50

In [14]:
t = (50,)
print("The element is :- ", t)
print("The type of element is :- ", type(t))

The element is :-  (50,)
The type of element is :-  <class 'tuple'>

## Exercise 10: Unpack the tuple into 4 variables

In [15]:
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print("a :- ", a)
print("b :- ", b)
print("c :- ", c)
print("d :- ", d)

a :-  10
b :-  20
c :-  30
d :-  40