## Exercise 1: Swap two tuples in Python

In [1]:
tuple1 = (11, 22)
tuple2 = (99, 88)

print("tuple1 :- ", tuple1)
print("tuple2 :- ", tuple2)
print("-------After Swapping-------")
tuple1, tuple2 = tuple2, tuple1
print("tuple1 :- ", tuple1)
print("tuple2 :- ", tuple2)

tuple1 :-  (11, 22)
tuple2 :-  (99, 88)
-------After Swapping-------
tuple1 :-  (99, 88)
tuple2 :-  (11, 22)

## Exercise 2: Copy specific elements from one tuple to a new tuple

In [3]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
tuple2

(44, 55)

## Exercise 3: Modify the tuple

In [8]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

## Exercise 4: Sort a tuple of tuples by 2nd item

In [16]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [17]:
x = tuple(sorted(tuple1))
x

(('a', 23), ('b', 37), ('c', 11), ('d', 29))

In [35]:
x = tuple(sorted([(j,i) for i,j in tuple1]))
x

((11, 'c'), (23, 'a'), (29, 'd'), (37, 'b'))

In [33]:
# Approach 2 - Sort by Converting to list

tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [36]:
list(tuple1)

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [44]:
# Sort considers iterable and the key

c = tuple(sorted(list(tuple1), key=lambda x:x[1]))
c

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

## Exercise 5: Counts the number of occurrences of item 50 from a tuple

In [45]:
# Using for loop 

tuple1 = (50, 10, 60, 70, 50)
target = 50
count = 0
for i in tuple1:
    if i == target:
        count += 1
print(f"The total occurences of {target} are :- ", count)

The total occurences of 50 are :-  2

In [46]:
# Approach 2 - Using internal count function

tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

## Exercise 6: Check if all items in the tuple are the same

In [59]:
tuple1 = (45, 45, 45, 55)
val = tuple1[0]
initial_val = val
print("Initial Val is :- ", val)
for i in tuple1:
    if i == val:
        val = i
    else:
        val = i
print("Final Val is :- ", val)
if val == initial_val:
    print("All values in tuple are same")
else:
    print("All the values in tuple are not same")

Initial Val is :-  45
Final Val is :-  55
All the values in tuple are not same

In [62]:
# approach 2

def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

## Exercise 7: Print current date and time in Python

In [70]:
from datetime import datetime
datetime.now()

datetime.datetime(2025, 2, 10, 21, 0, 34, 588756)

In [71]:
# Approach 2 - using strftime and gmtime

from time import strftime, gmtime
t = (strftime("%Y-%m-%d %H:%M:%S"), gmtime())
t

('2025-02-10 21:02:22',
 time.struct_time(tm_year=2025, tm_mon=2, tm_mday=10, tm_hour=15, tm_min=32, tm_sec=22, tm_wday=0, tm_yday=41, tm_isdst=0))

## Exercise 8: Convert string into a datetime object

In [77]:
# Approach 1 - using time 

from time import strptime
date_string = "Feb 25 2020 4:20PM"
t = strptime(date_string, "%b %d %Y %I:%M%p")
t

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=25, tm_hour=16, tm_min=20, tm_sec=0, tm_wday=1, tm_yday=56, tm_isdst=-1)

In [79]:
# Approach 2 - using datetime

from datetime import datetime
date_string = "Feb 25 2020 4:20PM"
t = datetime.strptime(date_string, "%b %d %Y %I:%M%p")
t

datetime.datetime(2020, 2, 25, 16, 20)

## Exercise 9: Subtract a week (7 days)  from a given date in Python

In [81]:
from datetime import datetime, timedelta

given_date = datetime(2020, 2, 25)
new_date = given_date - timedelta(7)
new_date

datetime.datetime(2020, 2, 18, 0, 0)

## Exercise 10: Print a date in a the following format

In [83]:
given_date = datetime(2020, 2, 25)

'02/10/25 2025'