## Exercise 1: Convert the following Vehicle Object into JSON

In [1]:
import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price
        

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

In [8]:
name, engine, price = vehicle.name, vehicle.engine, vehicle.price
d = {"name":vehicle.name, "engine" : vehicle.engine, "price":vehicle.price}

In [13]:
j = json.dumps(d, indent=2, separators=(",", " = "))
print(j)

{
  "name" = "Toyota Rav4",
  "engine" = "2.5L",
  "price" = 32000
}

In [18]:
# Approach 2 - 

import json
from json import JSONEncoder

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

class VehicleEncoder(JSONEncoder):
        def default(self, o):
            return o.__dict__

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

print("Encode Vehicle Object into JSON")
vehicleJson = json.dumps(vehicle, indent=4, cls=VehicleEncoder)
print(vehicleJson)

Encode Vehicle Object into JSON
{
    "name": "Toyota Rav4",
    "engine": "2.5L",
    "price": 32000
}

## Exercise 2: Check whether following json is valid or invalid. If Invalid correct it

In [21]:
json_data = '''
{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000
            "bonus":800
         }
      }
   }
}
'''

def validate_json(json_data):
    try:
        d = json.loads(json_data)
        print("The JSON Format is correct")
        print(d)
    except Exception as e:
        print("The JSON Format is not right :- ", e)

In [22]:
v = validate_json(json_data)
v

The JSON Format is not right :-  Expecting ',' delimiter: line 8 column 13 (char 123)

## Exercise : Generate 3 random integers between 100 and 999 which is divisible by 5

In [28]:
import random
count = 3
while count != 0 :
    print(random.randrange(100, 999, 5))
    count -= 1

835
190
275

## Exercise 4: Random Lottery Pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner.

In [31]:
# Use randrange and sample function

l = []
for i in range(10):
    r = random.randrange(100,1000)
    l.append(r)
l

[451, 875, 184, 465, 635, 546, 216, 196, 178, 371]

In [32]:
# Use sample function to get the lucky number

lucky_winner = random.sample(l, 2)
lucky_winner

[546, 178]

## Exercise 5: Generate 6 digit random secure OTP

In [36]:
import secrets

In [37]:
s = secrets.SystemRandom()
s

In [38]:
otp = s.randrange(100000, 999999)
otp

601482

## Exercise 6: Pick a random character from a given String

In [53]:
s = "Adityaraj"
x = random.sample(s,1)
x[0]

'a'

In [54]:
# Approach 2 - using choice() function

random_char = random.choice(s)
random_char

'y'

## Exercise 7: Calculate multiplication of two random float numbers

In [56]:
f_no_1 = random.random()
f_no_2 = random.random()
print("Multiplication is :- ", f_no_1*f_no_2)

Multiplication is :-  0.20736058513212277

First random float number must be between 0.1 and 1
Second random float number must be between 9.5 and 99.5

In [58]:
# Approach 2 - If above condition is there

f_no_1 = random.uniform(0.1, 1)
f_no_2 = random.uniform(9.5, 99.5)
print("Multiplication is :- ", f_no_1*f_no_2)

Multiplication is :-  67.21878858866306

## Exercise 8: Roll dice in such a way that every time you get the same number

In [68]:
dice = [i for i in range(1,7)]
for i in range(5):
    random.seed(0)
    print(random.choice(dice))

4
4
4
4
4

In [69]:
# random.seed if set to any value gives the previous value

## Exercise 9: Create a 4X2 integer array and Prints its attributes

In [70]:
import numpy as np

In [73]:
a = np.array([[1, 2], [3, 4], [5,6], [7,8]])
a

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [76]:
print("array shape :- ", a.shape)
print("array dimension :- ", a.ndim)
print("Length of each element of array in bytes is :- ", a.itemsize)

array shape :-  (4, 2)
array dimension :-  2
Length of each element of array in bytes is :-  4

## Exercise 10: Following is the provided numPy array. Return array of items by taking the third column from all rows

In [78]:
sampleArray = np.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])
sampleArray[.]

array([77, 88, 99])