# Write a Python program to sum all the items in a list.

In [1]:
l = [1,2,3,4,5]
s = sum(l)
s

15

## Multiply Items in List

In [4]:
l  = [1,2,3,4,5]
mul = 1
for i in l:
    mul *= i
print(mul)

120

## Get Largest Number in List

In [5]:
l = [44, 55,11,33,99]
largest_num = max(l)
largest_num

99

In [6]:
# Without in-built function

l.sort()
l[-1]

99

In [8]:
# Using loop

l = [44, 55,11,333,99]
n = 0
for i in l:
    if i>n:
        n = i
print(n)

333

## Get Smallest Number in List

In [18]:
l = [44, 55,11,333,99]
n = l[0]
for i in l:
    if i<n:
        n=i
print(n)

11

## Count Strings with Same Start and End

In [28]:
l = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in range(len(l)):
    if l[i][0] == l[i][-1]:
        
        count += 1
print(count)

2

## Sort Tuples by Last Element

In [32]:
l = [(2, 5), (1, 9), (4, -1), (2, 3), (2, 1)]
l.sort(key=lambda x:x[1])
l

[(4, -1), (2, 1), (2, 3), (2, 5), (1, 9)]

## Remove Duplicates from List

In [33]:
l = [1,2,3,4,1,3]
l = list(set(l))
l

[1, 2, 3, 4]

In [38]:
# Without set

l = [1,2,3,4,1,3,5]
l2 = []
for i in l:
    if i not in l2:
        l2.append(i)
l2

[1, 2, 3, 4, 5]

## Count the Occurences

In [43]:
l = [1,2,3,4,1,3,5]
l4 = list(set(l))
count = 0
for i in l4:
    count = l.count(i)
    print(f"{i} : {count}")

1 : 2
2 : 1
3 : 2
4 : 1
5 : 1

## Check if List is Empty

In [53]:
l1 = [1,2,3,4,5]
l2 = []

def check_list(l):
    if len(l)==0:
        return "empty list"
    else:
        return "non empty list"

In [54]:
c = check_list(l2)
c

'empty list'

In [56]:
# Using try except block

l1 = [1,2,3,4,5]
l2 = []

def check_list(l):
    try:
        if l[-1]:
            return "non empty"
    except:
        return "empty"

In [58]:
check_list(l2)

'empty'

## Clone or Copy a List

In [66]:
# Deep Copy

l1 = [1,2,3,4,5]
l2 = []
print(l2)
l2 =l1.copy()
print(l2)

[]
[1, 2, 3, 4, 5]

In [67]:
l1[0] = 22
l1

[22, 2, 3, 4, 5]

In [68]:
l2

[1, 2, 3, 4, 5]

In [69]:
# Shallow Copy

l1 = [1,2,3,4,5]
l2 = []
print(l2)
l2 =l1
print(l2)

[]
[1, 2, 3, 4, 5]

In [70]:
l1[0] = 22
l1

[22, 2, 3, 4, 5]

In [71]:
l2

[22, 2, 3, 4, 5]

## Find Words Longer Than n

In [74]:
def filter_list(l2, n):
    for i in l2:
        if len(i) > n:
            print(i)

f = filter_list(['abcd','abc','abcde'], n=4)
f

abcde

## Check Common Member Between Two Lists

## Remove Specific Elements from List

In [82]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l2 = []
for i in range(len(l)):
    if i in (0,4,5):
        l2.append(l[i])

l2

['Red', 'Pink', 'Yellow']

In [80]:
for i in l2:
    l.remove(i)
l

['Green', 'White', 'Black']