## Print multiplication table from 1 to 10

In [12]:
end = 11
for i in range(1,end):
    for j in range(1, 11):
        print(f"{i*j}", end=" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

## Get an int value of base raises to the power of exponent

In [13]:
base = int(input("Enter the Base Number :- "))
exp = int(input("Enter the Exponent Number :- "))
result = base ** exp
print("The Result is :- ", result)

Enter the Base Number :- 2
Enter the Exponent Number :- 5
The Result is :-  32

## Exercise 1: Accept numbers from a user

In [14]:
num1 = int(input("Enter the Number 1 :- "))
num2 = int(input("Enter the Number 2 :- "))
print(f"The first number is : {num1} and the second number is : {num2}")

Enter the Number 1 :- 12
Enter the Number 2 :- 13
The first number is : 12 and the second number is : 13

## Exercise 2: Display three string “Name”, “Is”, “James” as “Name ** Is ** James”

In [ ]:
# Make use of sep parameter from print statement

In [18]:
string1 = "Name"
string2 = "Is"
string3 = "James"
print(string1, string2, string3, sep="**")

Name**Is**James

## Exercise 3: Convert Decimal number to octal using print() output formatting

In [29]:
num = 8 
print(f"The Octal Number of {num} is :- %o" % num)

The Octal Number of 8 is :- 10

## Exercise 4: Display float number with 2 decimal places using print()

In [30]:
num = 458.541315
print(round(num, 2))

458.54

In [33]:
# We can also make use of formatting code. Using formatting we will display number in 1 decimal. The .1f operator specifies to 
# put as many digits to the left but only one digit after the decimal.

print("%.1f" % num)

458.5

## Exercise 5: Accept a list of 5 float numbers as an input from the user

In [35]:
num = 5
l = []
for i in range(num):
    l.append(float(input("Enter the number :- ")))
print(l)

Enter the number :- 1.1
Enter the number :- 2.2
Enter the number :- 3.3
Enter the number :- 4.4
Enter the number :- 5.5
[1.1, 2.2, 3.3, 4.4, 5.5]

## Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [2]:
with open('test.txt') as f:
    old_file = f.readlines()

In [3]:
old_file

['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5\n', 'line6\n', 'line7']

In [4]:
file = open("test.txt", "r")
old_text = file.readlines()

In [7]:
file = open("new_text.txt", "w")
counter = 0
for i in old_text:
    counter += 1
    if counter != 4:
        file.write(i)
    else:
        continue

## Exercise 8: Format variables using a string.format() method.

In [9]:
totalMoney = 1000
quantity = 3
price = 450

print("I have {} dollars so I can buy {} football for {} dollars.".format(totalMoney, quantity, "%.2f" % float(price) ))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

## Exercise 10: Read line number 4 from the following file

In [16]:
file = open("test.txt", "r")
lines = file.readlines()
lines[4]

'line5\n'