## Exercise 1: Print all prime numbers within a range

In [19]:
range_start = 25
range_end = 50
for i in range(range_start, range_end+1):
    if i > 1:
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            print(i)

29
31
37
41
43
47

## Exercise 2: Display Fibonacci series up to 10 terms

In [26]:
num1 = 0 
num2 = 1
no_of_terms = 10
for i in range(10):
    print(num1)
    res = num1 + num2
    num1 = num2
    num2 = res

0
1
1
2
3
5
8
13
21
34

## Exercise 3: Find the factorial of a given number

In [28]:
n = int(input("Enter the number :- "))
result = 1
for i in range(1,n+1):
    result *= i
print(result)

Enter the number :- 5
120

## Exercise 4: Reverse a integer number

## Exercise 5: Print elements from a given list present at odd index positions

In [78]:
# solution 1
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_list[1::2]

[20, 40, 60, 80, 100]

In [80]:
# solution 2
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
    print(i)
    if i % 2 == 0:
        pass
    else:
        print(my_list[i])
    print("*"*30)

0
******************************
1
20
******************************
2
******************************
3
40
******************************
4
******************************
5
60
******************************
6
******************************
7
80
******************************
8
******************************
9
100
******************************

## Exercise 6: Calculate the cube of all numbers from 1 to a given number

In [81]:
given_number = int(input("Enter the Number :- "))
for i in range(1, given_number+1):
    print(f"The cube of {i} is {i**3}")

Enter the Number :- 6
The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125
The cube of 6 is 216

## Exercise 7: Find the sum of the series up to n terms

In [91]:
series = 2
add = 0
for i in range(5):
    add += int(series)
    print(series)
    series = str(series) + str(2)
print(add)

2
22
222
2222
22222
24690

## Exercise 8: Create a function in Python

In [102]:
def fun(name,age):
    return name,age

f = fun("Adityaraj",23)
f

('Adityaraj', 23)

## Exercise 9: Create a function with variable length of arguments

In [96]:
def var_fun(*args):
    return args

f = var_fun("Adityaraj", 23, "Zycus")
f

('Adityaraj', 23, 'Zycus')

## Exercise 10: Create a function with variable length of keyword arguments

In [99]:
def k_var_fun(**kwargs):
    return kwargs
f = k_var_fun(name="Adityaraj", age=23, company = "Zycus")
f

{'name': 'Adityaraj', 'age': 23, 'company': 'Zycus'}

If single value is returned it will be in str format *args return data in tuple format and **kwargs return data in dict format

## Exercise 11: Return multiple values from a function

In [103]:
def val(a,b):
    return a+b, a-b, a*b, a/b
v = val(40, 10)
v

(50, 30, 400, 4.0)

## Exercise 12: Create a function with a default argument

In [105]:
def default_arg(name, sal=9000):
    return name, sal
n1, s1 = default_arg("John", 20000)
n2, s2 = default_arg("Kom")
print(f"Name : {n1} Salary : {s1}")
print(f"Name : {n2} Salary : {s2}")

Name : John Salary : 20000
Name : Kom Salary : 9000

## Exercise 13: Create an inner function to calculate the addition in the following way

In [107]:
def add(a,b):
    def inner_add():
        c = a+b
        return c
    print(inner_add()+5)

a = add(3,4)
a

12

## Exercise 14: Create a recursive function

In [113]:
def add(num):
    if num:
        return num + add(num-1)
    else:
        return 0

a = add(10)
a

55

## Exercise 15: Generate a Python list of all the even numbers between 4 to 30

In [116]:
l = []
def even(start, end):
    for i in range(start, end+1):
        if i % 2 :
            pass
        else:
            l.append(i)

e = even(4, 30)
l

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [117]:
# Solution 2

print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Exercise 16: Find the largest item from a given list

In [118]:
x = [4, 6, 8, 24, 12, 2]
max(x)

24

In [133]:
max_val = x[0]  # Initialize with the first element
for i in range(1, len(x)):  # Start from index 1
    if x[i] > max_val:
        max_val = x[i]

print("Maximum value:", max_val)

Maximum value: 24

In [132]:
# solution3

sorted(x)[-1]

24