## Exercise 1: Reverse a given string

In [1]:
string = input("Enter the String :- ")
string[::-1]

Enter the String :- Adityaraj

'jaraytidA'

## Exercise 2: Find the last position of a given substring

In [2]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

In [3]:
str1.rfind("Emma")

43

## Exercise 3: Split a string on hyphens

In [4]:
str1 = "Emma-is-a-data-scientist"
str1

'Emma-is-a-data-scientist'

In [9]:
d = str1.split('-')
for i in d:
    print(i)

Emma
is
a
data
scientist

## Exercise 4: Remove empty strings from a list of strings

In [23]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [24]:
x = list(filter(None,str_list))
x

['Emma', 'Jon', 'Kelly', 'Eric']

## Exercise 5: Remove special symbols / punctuation from a string

In [32]:
import re

str1 = "/*Jon is @developer & musician"
res = re.sub('\W+'," ", str1)
res

' Jon is developer musician'

In [37]:
# Approach 2

''.join(i for i in str1 if i.isalnum())

'Jonisdevelopermusician'

In [39]:
# Approach 3

import string
str1.translate(str.maketrans('','',string.punctuation))

'Jon is developer  musician'

## Exercise 16: Removal all characters from a string except integers

In [40]:
str1 = 'I am 25 years and 10 months old'
''.join(i for i in str1 if i.isdigit())

'2510'

In [41]:
res = re.sub('\D+'," ", str1)
res

' 25 10 '