## Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second

In [1]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

In [2]:
l3 = l1[1::2]
l4 = l2[0::2]

In [3]:
l3.extend(l4)
l3

## Exercise 2: Remove and add item in a list

Write a program to remove the item present at index 4 and add 11 to the 2nd position and at the end of the list.

In [4]:
list1 = [54, 44, 27, 79, 91, 41]

In [5]:
# 1 Requirement
val_at_4_idx = list1[4]
list1.remove(val_at_4_idx)
list1

[54, 44, 27, 79, 41]

In [6]:
# 2 Requirement
val_to_add = 11
list1.insert(1, val_to_add)
list1

[54, 11, 44, 27, 79, 41]

In [7]:
# 3 Requirement
list1.insert(len(list1), val_to_add)
list1

[54, 11, 44, 27, 79, 41, 11]

In [8]:
# 3 Requirement - Approach 2
list1.append(11)
list1

[54, 11, 44, 27, 79, 41, 11, 11]

## Exercise 3: Slice list into 3 equal chunks and reverse each chunk

In [45]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print("Original list ", sample_list)

length = len(sample_list)
chunk_size = int(length / 3)
start = 0
end = chunk_size

# run loop 3 times
for i in range(3):
    # get indexes
    indexes = slice(start, end)
    
    # get chunk
    list_chunk = sample_list[indexes]
    print("Chunk ", i, list_chunk)
    
    # reverse chunk
    print("After reversing it ", list(reversed(list_chunk)))

    start = end
    end += chunk_size

Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]
Chunk  0 [11, 45, 8]
After reversing it  [8, 45, 11]
Chunk  1 [23, 14, 12]
After reversing it  [12, 14, 23]
Chunk  2 [78, 45, 89]
After reversing it  [89, 45, 78]

In [1]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
x = slice(0,3)
sample_list[x]

[11, 45, 8]

## Exercise 4: Count the occurrence of each element from a list

In [2]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
counter = 0

In [3]:
d1 = {}
for i in sample_list:
    if i in d1:
        d1[i] += 1
    else:
        d1[i] = 1

In [4]:
d1

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

## Exercise 5: Create a Python set such that it shows the element from both lists in a pair

In [5]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

In [6]:
result_set = set()
for a,b in zip(first_list, second_list):
    result_set.add((a,b))

In [7]:
result_set

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [8]:
# This can also be done without for loop! - Approach 2

x = zip(first_list, second_list) # this gives tuple of the respective elements
set(x)

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

## Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

In [1]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

In [2]:
# requirement 1 - To find the intersection

common_elements = first_set.intersection(second_set)
common_elements

{29, 57, 83}

In [3]:
l = [29]

In [4]:
# requirement 2 - To remove the common elements from first set - Approach 1

x = first_set - common_elements
x

{23, 42, 65, 78}

In [5]:
# requirment 2 - Approach 2

y = first_set.difference_update(common_elements)
first_set

{23, 42, 65, 78}

In [6]:
# Approach 3 - Using for loop

## Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

In [7]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}
print(first_set.issubset(second_set))
print(second_set.issuperset(first_set))

True
True

In [8]:
if first_set.issubset(second_set):
    first_set.clear()
else:
    second_set.clear()

In [9]:
print("first set is :- ", first_set)
print("second set is :- ", second_set)

first set is :-  set()
second set is :-  {34, 43, 48, 53, 22, 27, 93}

## Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [10]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

In [18]:
# Approach1 - Create a new list

l = []
for i in roll_number:
    if i in sample_dict.values():
        l.append(i)
l

[47, 69, 76, 97]

In [17]:
# Approach 2 - List Comprehension

[i for i in roll_number if i in sample_dict.values()]

[47, 69, 76, 97]

## Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [19]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

In [25]:
# Approach 1

l = []
for i in set(speed.values()):
    l.append(i)
l

[44, 47, 52, 53, 54]

In [28]:
# Approach 2

[i for i in set(speed.values())]

[44, 47, 52, 53, 54]

In [33]:
# Apprach 3

for i in speed.values():
    if i not in l:
        l.append(i)
    else:
        pass
l

[44, 47, 52, 53, 54]

## Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [35]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
l = list(set(sample_list))
t = tuple(l)
t

(65, 99, 41, 45, 87, 94)

In [36]:
max(t)

99

In [37]:
min(t)

41

In [40]:
# Max approach 2

num = 0
for i in t:
    if i>num:
        num = i
print(num)

99

In [44]:
# Min approach 2

small = t[0]
for i in t:
    if i<small:
        small = i
print(small)

41