## Exercise 1: Reverse a list in Python

In [1]:
list1 = [100, 200, 300, 400, 500]

In [2]:
# approach 1

list1[::-1]

[500, 400, 300, 200, 100]

In [3]:
# approach 2

list1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [4]:
# approach 3

list1 = [100, 200, 300, 400, 500]
rev = reversed(list1)
list(rev)

[500, 400, 300, 200, 100]

## Exercise 2: Concatenate two lists index-wise

In [8]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = []
for i,j in zip(list1, list2):
    x = ''.join((i,j))
    list3.append(x)
list3

['My', 'name', 'is', 'Kelly']

In [9]:
# approach 2

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
list3

['My', 'name', 'is', 'Kelly']

## Exercise 3: Turn every item of a list into its square

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7]
sq_numbers = [i**2 for i in numbers]
sq_numbers

[1, 4, 9, 16, 25, 36, 49]

## Exercise 4: Concatenate two lists in the following order

In [12]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = []
for i in list1:
    for j in list2:
        list3.append(i+j)
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [13]:
# Approach 2 - List Comprehension

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = [i+j for i in list1 for j in list2]
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Exercise 5: Iterate both lists simultaneously

In [14]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1, list2):
    print(i, j)

10 100
20 200
30 300
40 400