## Exercise 1: Remove empty strings from the list of strings

In [1]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1.remove("")
list1.remove("")
list1

['Mike', 'Emma', 'Kelly', 'Brad']

In [2]:
# Approach 2 - filter function

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
l = list(filter(None, list1))
l

['Mike', 'Emma', 'Kelly', 'Brad']

## Exercise 2: Add new item to list after a specified item

In [3]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [4]:
list1[2][2].append(7000)

In [5]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise 3: Extend nested list by adding the sublist

In [6]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [7]:
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise 4: Replace list’s item with new value if found

In [8]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [9]:
idx = list1.index(20)
list1[idx] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

## Exercise 5: Remove all occurrences of a specific item from a list.

In [11]:
list1 = [5, 20, 15, 20, 25, 50, 20]
l = []
for i in list1:
    if i != 20:
        l.append(i)
l

[5, 15, 25, 50]

In [13]:
# Approach 2 - List Comprehension
[i for i in list1 if i != 20]

[5, 15, 25, 50]

## Exercise 6: Convert two lists into a dictionary

In [18]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
d = {}
for i, j in zip(keys, values):
    d[i] = j
d

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Exercise 7: Merge two Python dictionaries into one

In [19]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)

In [20]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [22]:
# Approach 2

dict3 = {**dict1, **dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Exercise 8: Print the value of key ‘history’ from the below dict

In [24]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [26]:
# Approach 1 - Brute Force
sampleDict['class']['student']['marks']['history']

80

## Exercise 9: Initialize dictionary with default values

In [33]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
d = {}
for i in employees:
    d[i] = defaults
d

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [34]:
# Approach 2 - fromkeys function

c = dict.fromkeys(employees, defaults)
c

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

# Exercise 10: Create a dictionary by extracting the keys from a given dictionary

In [35]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

In [ ]:
d = {}
for i in keys:
    d[i] = sample_dict.get(i)